////////////////////////////////////////////////////////////////////////////////
// Structural
////////////////////////////////////////////////////////////////////////////////

.container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1280px;
  padding: 0 1.5rem;

  &.column {
    align-items: start;
    flex-direction: column;
  }
}

.columns {
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  width: 100%;

  &.columns-2 > * {
    flex: 0 0 calc((100% / 2) - 0.75rem);
  }

  &.columns-3 > * {
    flex: 0 0 calc((100% / 3) - 1rem);
  }

  &.columns-4 > * {
    flex: 0 0 calc((100% / 4) - 1.125rem);
  }
}

////////////////////////////////////////////////////////////////////////////////
// Text
////////////////////////////////////////////////////////////////////////////////

.text-tiny {
  font-size: 0.75rem;
}

.text-small {
  font-size: 0.875rem;
}

.text-large {
  font-size: 1.25rem;
}

.text-larger {
  font-size: 1.5rem;
}

.text-center {
  text-align: center;
}

////////////////////////////////////////////////////////////////////////////////
// Spacing
////////////////////////////////////////////////////////////////////////////////

.quarter-spaced {
  margin-top: 0.25rem;
}

.single-spaced {
  margin-top: 1rem;
}

.double-spaced {
  margin-top: 1.5rem;
}

.triple-spaced {
  margin-top: 2rem;
}

.sub-page-small {
  scroll-margin-top: 4rem;
}

.sub-page {
  scroll-margin-top: 6.5rem;
}

.sub-page-large {
  scroll-margin-top: 8.5rem;
}

.sub-content {
  padding: 2rem 0;
}

////////////////////////////////////////////////////////////////////////////////
// Icon Heading (@TODO: Move to component)
////////////////////////////////////////////////////////////////////////////////

.icon-heading mat-icon {
  margin-right: 0.75rem;
}

.red-theme .icon-heading mat-icon {
  color: var(--red-bright);
}

.blue-theme .icon-heading mat-icon {
  color: var(--blue-bright);
}

.green-theme .icon-heading mat-icon {
  color: var(--green-bright);
}

////////////////////////////////////////////////////////////////////////////////
// Photo Link
////////////////////////////////////////////////////////////////////////////////

.photo-link {
  border-radius: 0.5rem;
  display: block;
  height: 100%;
  overflow: hidden;

  &:hover {
    img {
      transform: scale(1.05);
    }
  }

  img {
    height: 100%;
    object-fit: cover;
    transition: transform 0.2s ease-out;
  }
}
