@use '@angular/material' as mat;
@use '../public/styles/reset';
@use '../public/styles/global';
@use '../public/styles/utilities';

:root {
  --background: #fff;
  --background-alt: #eee;
  --background-card: #f8f8f8;
  --background-ter: #eee;
  --background-muted: #d9ceca;
  --blue-light: #dbe9fe;
  --blue-mid: #bfdbfe;
  --blue-dark: #2463eb;
  --blue-bright: #2563eb;
  --foreground: #000;
  --foreground-muted: #5e5e5e;
  --green-light: #dcfce6;
  --green-mid: #bbf7d0;
  --green-dark: #166434;
  --green-bright: #16a34a;
  --navy: #0f1729;
  --red-light: #ffe3e3;
  --red-mid: #ffc9c9;
  --red-dark: #fa5353;
  --red-bright: #fa5252;
  --vibrant-start: #9333ea;
  --vibrant-middle: #3b82f6;
  --vibrant-end: #4338ca;
  --white: #fafafa;
}

.dark {
  --background: #0f1729;
  --background-alt: #0c111f;
  --background-card: #0c111f;
  --background-ter: #1d2839;
  --background-muted: #354863;
  --blue-light: #1d2b4a;
  --blue-mid: #1e2f5d;
  --blue-dark: #60a5fa;
  --foreground: #fafafa;
  --foreground-muted: #a1a1a1;
  --green-light: #1c3038;
  --green-mid: #1c3a38;
  --green-dark: #49de80;
  --red-light: #302431;
  --red-mid: #512834;
  --red-dark: #ff8787;
}
